<h1>Ca y est, tu as trouvé ton bonheur!</h1>

<p>Youpi !, voici tes jolis chatons<p>

Ta commande du <%= @user.orders.last.created_at %> a été enregistrée.
Elle comporte <%= @user.orders.last.items.size %> photos.
Trop cool !
